<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>Registro</title>

</head>

<body>
    
    <div class="box-1">
        <div class="box-2">
            <form class="box-3" action="" method="POST">
                <h2 class="box-4">Formulario</h2>

                <div class="box-5">
                    <input type="text" id="nombre" name="nombre" value="<%=locals.old?.nombre %>">
                    <label for="nombre">Ingrese su nombre </label>
                </div>
                <div class="err"><%= locals.errors?.nombre?.msg%></div>
                <div class="box-5">
                    <input type="email" id="email" name="email" value="<%=locals.old?.email %>">
                    <label for="email">Ingrese su email </label>
                </div>
                <div class="err"><%= locals.errors?.email?.msg%></div>
                <div class="box-5">
                    <input type="number" id="age" name="age" min="0" value="<%=locals.old?.age %>">
                    <label for="age">Ingrese su Edad</label>
                </div>
                <div class="err"><%= locals.errors?.age?.msg%></div>
                <div class="seleccionar">
                    <label for="color">Seleccionar Color </label>
                    <select name="color" id="color"> >
                        <option value="verde">Verde</option>
                        <option value="celeste" selected>Celeste</option>
                        <option value="negro">Negro</option>
                        <option value="azul">Azul</option>
                    </select>
                </div>
                <button class="box-6" type="submit">Enviar</button>
                
            </form>
        </div>
    </div>
    <% if (locals?.el) { %>
    <div class="box-7">
            <p>Hola <strong>
                    <%= locals.el.nombre %>
                </strong>, elegiste el color: <strong>
                    <%= el.color %>
                </strong>,
                tu email es: <strong>
                    <%= el.email %>
                </strong>, y tu edad es: <strong>
                    <%= el.age %>
                </strong></p>
            </div>
            <% } %>
</body>

</html>